---
const year = new Date().getFullYear();
---
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <span>© {year} Lyndon Vision · All photographs reserved</span>
      <span>
        <a href="https://instagram.com/lyndonli12" rel="me noopener">Instagram</a>
        &nbsp; · &nbsp;
        <a href="/lyndon-vision.vcf" download>vCard</a>
        &nbsp; · &nbsp;
        <a href="#top">Back to top ↑</a>
      </span>
    </div>
  </div>
</footer>
